* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    max-height: 100vh;
}

.header {
    width: 100%;
    height: 50px;
    background-color: rgb(209, 212, 255);
}

.header__nav {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    line-height: 50px;
}

.header__link {
    text-decoration: none;
    font-family: sans-serif;
    padding: 10px 10px;
    margin: 0;
    transition: background-color .2s;
    border-radius: 5px;
}
.header__link:hover {
    background-color: rgb(240, 241, 255);
}

.nav-active {
    background-color: rgb(240, 241, 255);
}

.main {
    margin-top: 20px;
}

.main__catalog {
    -webkit-animation: appearanceCatalog .5s ease-out 1 normal;
    -moz-animation: appearanceCatalog .5s ease-out 1 normal;;
    animation: appearanceCatalog .5s ease-out 1 normal;
    animation-fill-mode: forwards;
}

.main__user, .main__albums, .main__photos {
    margin: 2px 20px;
}

.main__list__btn {
    background: none;
    border: none;
    
}
.main__list__btn:hover {
    background: rgb(240, 241, 255);
}

.main__photos__div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px;
}

.main__photos__favorites {
    background: none;
    font-size: 20pt;
    border: none;
    color: #888;
}

.main__photos__img {
    width: 150px;
    height: 150px;
    background: rgb(177, 165, 165);
}

.main__photos__title {
    margin: 0 20px;
    padding: 10px;
    width: 100%;
    background-color: rgb(240, 241, 255);
    font-family: sans-serif;
}

.active {
    color: rgb(221, 221, 12);
}

.madal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 5, 5, 0.336);
    display: flex;
    justify-content: center;
    align-items: center;
}

.madal__btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    font-size: 30pt;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin: 10px;
    transition: color .2s;
}

.madal__btn:hover {
    color: red;
}

.arrow::before, .arrow-down::before {
    color: rgb(97, 97, 97);
}

.arrow::before {
    content: "►";
}

.arrow-down::before {
    content: "▼";
}

.main__favorites {
    -webkit-animation: appearanceFavorites .5s ease-out 1 normal;
    -moz-animation: appearanceFavorites .5s ease-out 1 normal;;
    animation: appearanceFavorites .5s ease-out 1 normal;
    animation-fill-mode: forwards;
}

.favorites__row {
    margin: 30px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}


@keyframes appearanceCatalog {
    0.0%{
        opacity: 0;
        transform: translate(-50px);
    }
    45.0%{
        opacity: 1;
        transform: translate(0);
    }
    55.0%{
        opacity: 1;
        transform: translate(0);
    }
    100.0%{
        opacity: 0;
        transform: translate(-50px);
    }
}

@keyframes appearanceFavorites {
    0.0%{
        opacity: 0;
        transform: translate(50px);
    }
    45.0%{
        opacity: 1;
        transform: translate(0);
    }
    55.0%{
        opacity: 1;
        transform: translate(0);
    }
    100.0%{
        opacity: 0;
        transform: translate(50px);
    }
}